body {
    font-size: 16px;
    font-family: Helvitica;
    color: black;
    position: absolute;
    
}
.wrapper {
    display: grid;
    grid-gap: 5px; 
    
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 100px 300px; */
    
    grid-template-areas:
                            ". h h h h h h h h h h h"
                            ". p p p i i e e b b . ."
                            ". o o o o o o o o c c c";

}
header {
    grid-area: h;
}
.content1 {
    grid-area: i;
}
.content2 {
    grid-area: e;
}
.content3 {
    grid-area: b;
}
.portrait {
    grid-area: p;
} 
.projects {
    grid-area: o;
}
.contact {
    grid-area: c;
}
.container {
    width: 250px;
    margin: 0px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(60, 60, 60, 0.2);
}
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
header > nav {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}
nav > a {
    padding: 1em;
}
/* header a:hover {
    background-color: lightgreen;
} */
input {
    margin: 0.5em;
}
textarea {
    padding: 0.2em;
    margin: 0.5em;
}
button {
    margin: 0.5em;
}
/* mobile */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .portrait {
        width: 50%;
        height: auto;
    }
    .wrapper {
        display: grid;
        grid-gap: 5px; 
        grid-template-columns: minmax(0, 1fr) 200px;

        /* grid-template-columns: repeat(2, 1fr); */
        
        
        grid-template-areas:
                                "h h"
                                "p p"
                                "i i"
                                "e b"
                                "o o"
                                "c c";
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}